.carousel-caption {
    padding-bottom: 60px;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    bottom: 0px;
}

.carousel-caption a {
    color: #44D0FF;
}

.carousel-caption a:after {
    content: " »"; 
}

.panel-body p {
    text-align: justify;
}

.hoverEfect:hover{
    border-color: #C7CACA;
    background-color: #F5F5F5;
}

#fill1 {
    background-image: url('../../static/img/slide1.jpg');
}

#fill2 {
    background-image:url('../../static/img/slide2.jpg');
}

#fill3 {
    background-image:url('../../static/img/slide3.jpg');
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    color: #fff;
    background-color: rgba(231, 76, 60, 0.8);
    z-index: 9999; 
    border-radius:0px
}

.btn-fechar-msg,
.btn-editar-mapa {
    cursor: pointer;
}

#box-versao {
    margin-top: 25px;
}
    
    #box-versao form {
        display: inline;
    }

#versao-mapa {
    display: inline;
    width: 100px;
}